# Environment variables
.env

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output folders
output/
dist/
temp/
.tmp.driveupload/

# System files
.DS_Store
Thumbs.db

# Video artifacts
*.mp4